<main>
    <div class="fondo">
        <section>
            <div class="container-sec">
                <div class="flex-absolute">
                    <img class="sec-img" src="/static/public/img/edit-AMD-Intel.jpg" alt="fondoVs">
                    <!-- Con Js hacemos un filter a las imagenes para traer los productos segun su categoria -->
                    <!-- por ahora voy a aplicar productos.html -->
                    <a href="/static/views/pages/combos.html"><img class="section-intel"
                            src="/static/public/img/intel-Simbolo.png" alt="Intel"></a>
                    <a href="/static/views/pages/combos.html"><img class="section-amd"
                            src="/static/public/img/AMD-Simbolo.png" alt="Amd"></a>
                </div>
            </div>
        </section>
        <!--********** CARDS DE PRODUCTOS ************ -->
        <!-- ***** PRODUCTOS DESTACADOS ***** -->
        <div>
            <table class="container-table">
                <tr class="title-h" id="titleDestacado">
                </tr>
                <tr class="gen-card" id="cardsDestacados">
                </tr>
                <tr class="title-h" id="titleCombos">
                </tr>
                <tr class="gen-card" id="cardsCombos">
                </tr>
                <tr class="title-h" id="titleOfertas">
                </tr>
                <tr class="gen-card" id="cardsOfertas">
                </tr>
            </table>
        </div>
    </div>
</main>