#wrapper {
    background-color: darkgrey;
    background-image: url("../img/bandera-chilena.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: dashed blue;
}

.text-blue {
    color: #0037a1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5em;
    font-style: normal;
    text-align: center;
}

.text-red {
    color: #d02a1e;
}

.text-white {
    color: #ffffff;
}