body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin: auto;
}

#iguanaMaxima img {
    width: 100%;
}

#desc-section {
    padding: 70px 260px;
}

#desc-section p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    text-align: left;
    line-height: 1.1;
    font-weight: 300;
    font-size: 24px;
    margin-right: 85px;
    width: 55%;
}

#desc-section img{
    display: inline-block;
    vertical-align: middle;
    width: 35%
}

#caracteristicas {
    background-color: #1E1A13 ;
    text-align: center;
    padding: 50px 150px;
}

#caracteristicas div {
    display: inline-block;
    margin-inline: 100px;
}

#caracteristicas i {
    color: #ffffff;
    font-size: 50px;
}

#caracteristicas h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 50px;
}

#caracteristicas h3 {
    color: #ffffff;
    font-weight: 300;
}

#iguanasImg {
    padding: 100px;
    text-align: center;
}

#iguanasImg img {
    padding: 0;
    margin-inline: 10px;
    display: inline-block;
    height: 265px;
}






















footer {
    padding: 25px 250px;
    margin: auto;
    background-color: #1E1A13;

}

footer h3 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
}