<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
   <title>Real-Time Products</title>
</head>
<body>
    <h1>Real-Time Products</h1>
   <ul id="productsList"></ul>
<style>
    form {
        display: flex;
        flex-direction: column;
        max-width: 300px; 
        margin: left; 
    }

    label {
        margin-bottom: 8px;
    }

    #productStatus {
        margin-bottom: 16px;
    }
</style>
<form id="addProductForm">
    <label for="productName">Nombre del Producto:</label>
    <input type="text" id="productName" name="title" required>
    
    <label for="productDescription">Descripción del Producto:</label>
    <input type="text" id="productDescription" name="description" required>
    
    <label for="productPrice">Precio del Producto:</label>
    <input type="number" id="productPrice" name="price" required>
    
    <label for="productCategory">Categoría del Producto:</label>
    <input type="text" id="productCategory" name="category" required>
    
    <label for="productThumbnail">URL del Thumbnail:</label>
    <input type="text" id="productThumbnail" name="thumbnail" required>
    
    <label for="productCode">Código del Producto:</label>
    <input type="text" id="productCode" name="code" required>
    
    <label for="productStock">Stock del Producto:</label>
    <input type="number" id="productStock" name="stock" required>
    
    <label for="productStatus">Estado del Producto:</label>
    <input type="checkbox" id="productStatus" name="status" checked>

    <button type="submit" onclick="addProduct()">Agregar Producto</button>
</form>

<script src="/static/js/script.js"></script> 

</body>
</html>

