<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <title>Real-Time Products</title>
</head>
<body>
    <h1>Real-Time Products</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
        // Lógica para actualizar la lista de productos en tu página
        console.log('Lista de productos actualizada:', products);

//        socket.on('productAdded', (productData) => {
//            productManager.addProduct(productData);
//            io.emit('updateProducts', productManager.getProducts());
//            console.log('Producto agregado exitosamente');
//        });
    </script>
</body>
</html>

<form id="addProductForm" method="POST" action="/api/products" onsubmit="addProduct(event)">
    <label for="productName">Nombre del Producto:</label>
    <input type="text" id="productName" name="title" required>
    
    <label for="productDescription">Descripción del Producto:</label>
    <input type="text" id="productDescription" name="description" required>
    
    <label for="productPrice">Precio del Producto:</label>
    <input type="number" id="productPrice" name="price" required>
    
    <label for="productCategory">Categoría del Producto:</label>
    <input type="text" id="productCategory" name="category" required>
    
    <label for="productThumbnail">URL del Thumbnail:</label>
    <input type="text" id="productThumbnail" name="thumbnail" required>
    
    <label for="productCode">Código del Producto:</label>
    <input type="text" id="productCode" name="code" required>
    
    <label for="productStock">Stock del Producto:</label>
    <input type="number" id="productStock" name="stock" required>
    
    <label for="productStatus">Estado del Producto:</label>
    <input type="text" id="productStatus" name="status" required>

    <button type="submit">Agregar Producto</button>
</form>

<script>
    function addProduct(event) {
        event.preventDefault();
    
        const productName = document.getElementById('productName').value;
        const productDescription = document.getElementById('productDescription').value    
        const productPrice = document.getElementById('productPrice').value    

        // Emitir el evento para agregar un producto
        socket.emit('addProduct', { title: productName, description: productDescription, price: productPrice });
      }
</script>